<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Application.khanapina">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- To request foreground location access, declare one of these permissions. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GoogleMaps.UserLocation" />
        <activity android:name=".Activities.SearchLayout" />
        <activity android:name=".Activities.EachRestaurant" />
        <activity android:name=".Activities.MainCourseLayout" />
        <activity android:name=".Activities.PizzaLayout" />
        <activity android:name=".Activities.BurgerLayout" />
        <activity android:name=".Activities.DrinksLayout" />
        <activity android:name=".Activities.DessertLayout" />
        <activity android:name=".Activities.RegisterPage" />
        <activity android:name=".Activities.profile_activity" />
        <activity android:name=".Activities.location" />
        <activity android:name=".Activities.cart" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBljNvHjapfjeSXi_cW0EK3PQ-uzVUZzUw" />

        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:launchMode="standard"
            tools:replace="android:launchMode" />
        <activity android:name=".Activities.Favdish" />
        <activity android:name=".Activities.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginPage" />
        <activity android:name=".Activities.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".GoogleMaps.FerchAddressIntentService" />
    </application>

</manifest>